<%= render 'shared/index_banner' %>

<div class="container my-4" id="collection">
	<div class="container card-deck">
		<div class="row">
			<% @cocktails.each do |cocktail| %>
			<div class="col-4">
				<div class="card bg-dark text-white my-2">
				  <% if cocktail.image_url != "" %>
				    <img class="card-img-top fit-image" src="<%= cocktail.image_url %>" alt="Card image cap">
				  <% elsif cocktail.photo.attached? %>
				  	<img class="<%= cl_image_tag @cocktail.photo.key, crop: :fill %>">
			    <% else %>
			    	<img class="card-img-top fit-image" src="https://i.imgur.com/8iPM8iD.jpg" alt="Card image cap">
			    <% end %>
				  <div class="card-img-overlay d-flex justify-content-center">
				    <h3 class="card-title text-center white-link m-auto"><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
				  </div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>
