<footer class="page-footer font-small text-light bg-dark">
  <div class="footer-copyright text-light text-center py-3">© 2020
    <%= link_to "Liz Vo", "https://ensvo.github.io/profile/", class: "yellow-link" %>
  </div>
</footer>
