<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.imgur.com/kuf6EO9.jpg);">
  <div class="container">
  	<div class="container py-4">
	    <h1 class= "text-center">Miss Cocktail ♥</h1>
	    <p class= "text-center">A small collection of <%= @cocktails.count %> cocktails.</p>
	    <button class="btn btn-warning">
	    	<%= link_to "Browse", "#collection", class: "white-link" %>
	    </button>
	    <button type="button" class="btn btn-outline-warning">
	    	<% if @cocktails.any? %>
		    	<%= link_to	cocktail_path(@cocktails.sample) do %>
		    	<i class="fas fa-random white-link"></i>
		    	<% end %>
	    	<% end %>
	    </button>
  	</div>
  </div>
</div>