<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.imgur.com/kuf6EO9.jpg);">
  <div class="container">
  	<div class="container py-4">
	    <h1 class= "text-center">Miss Cocktail ♥</h1>
	    <p class= "text-center">A small collection of <%= @cocktails.count %> cocktails.</p>
	    <button class="btn btn-warning">
	    	<%= link_to "Browse", "#collection", class: "white-link" %>
	    </button>
	    <button type="button" class="btn btn-outline-warning">
	    	<% cocktails_array = [] %>
	    	<% @cocktails.each do |cocktail| %>
	    		<% cocktails_array << cocktail %>
	    	<% end %>
	    	<% random_path = cocktails_array.shuffle.first %>
	    	<%= link_to	cocktail_path(random_path) do %>
	    	<i class="fas fa-random white-link"></i>
	    	<% end %>
	    </button>
  	</div>
  </div>
</div>