<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "I ♥ Cocktail", cocktails_path, class: "navbar-brand text-warning" %>
  <nav class="navbar navbar-dark bg-dark">
    <button class="btn btn-outline-warning mx-2" type="button"><%= link_to "Home", cocktails_path, class: "white-link"%></button>
    <button class="btn btn-outline-warning mx-2" type="button"><%= link_to "Add a Cocktail", new_cocktail_path, class: "white-link" %></button>
  </nav>
</nav>