// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.white-link {
	text-decoration: none;
	color: white;
};

.black-link {
	text-decoration: none;
	color: #1e1e1e;
}

.yellow-link {
	text-decoration: none;
	color: #FFC108;
}